head
    title veganopedia: #{name}
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="stylesheet", href="/stylesheets/users.css")
include ./partials/header.pug
body 
    if(error)
        p=error
    else if(success)
        p=success
    .user-container
        .place-container
            h1
                div
                    span your
                    br 
                    span places
            div
                form.add-more(action="/forms/place" method="GET")
                    button add
            each val,key in queryPlaceObject
                .places-container 
                    -let src = val.photos?val.photos:"/images/default.jpg";
                    img(src=src, alt="The image could not be loaded")
                    h4=val.placeName
                    form(action=`/place`, method="GET")
                        input(type="hidden", name="placeName" value=val.placeName)
                        button(type="submit") view more
        .recipie-container
            h1
                div 
                    span your
                    br 
                    span recipies